/* reset */
html,
body {
	padding: 0;
	margin: 0;
	min-width: 320px;
}
/* behavior */
html {
	scroll-padding-top: 4rem;
	-webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
	box-sizing: border-box;

	outline-color: rgb(var(--c3));
	accent-color: rgb(var(--c3));
	transition: outline-color var(--transition-speed-medium),
		accent-color var(--transition-speed-medium);
}
::selection {
	transition: background-color var(--transition-speed-medium);
	background-color: rgba(var(--c2), 0.5);
}
::-moz-selection {
	background-color: rgba(var(--c2), 0.5);
}
@media (prefers-reduced-motion) {
	*,
	*:before,
	*:after {
		transition: none !important;
		animation-delay: 0ms !important;
		animation-duration: 0ms !important;
	}
}

@media (min-width: 42rem) {
	main {
		--main-padding: 2rem;
	}
}

/* utilities */
.full-bleed,
.content-container,
.container {
	padding-left: var(--main-padding);
	padding-right: var(--main-padding);
	padding-bottom: var(--main-padding);
	padding-left: max(env(safe-area-inset-left), var(--main-padding));
	padding-right: max(env(safe-area-inset-right), var(--main-padding));
	padding-bottom: max(env(safe-area-inset-bottom), var(--main-padding));
}
.content-container,
.container {
	margin-left: auto;
	margin-right: auto;
}
.content-container {
	max-width: var(--content-width);
}
.container {
	max-width: var(--container-width);
}
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* typography */
:root {
	--body-font-family: 'DM Sans', sans-serif;
	--body-font-weight: 400;
	--body-line-height: 1.75;
	--header-font-family: 'Playfair Display', serif;
	--header-font-weight: 900;
	--header-line-height: 1.3;
}

html {
	font-size: 100%;
	text-size-adjust: 100%;
}

body {
	font-family: var(--body-font-family);
	font-weight: var(--body-font-weight);
	line-height: var(--body-line-height);
}

p,
ul,
figure,
blockquote {
	margin-bottom: 1rem;
}
figure,
blockquote {
	margin-left: 0;
	margin-right: 0;
}
abbr {
	text-decoration: underline;
	text-decoration-color: rgb(var(--c5));
	text-decoration-style: dotted;
}
blockquote {
	background-color: rgba(var(--c4), 0.2);
	transition: background-color var(--transition-speed-medium);
	border-radius: 1rem;
	padding: 1rem;
	margin: -0.5rem;
	margin-bottom: 0.5rem;
}
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.lead {
	font-family: var(--header-font-family);
	font-weight: var(--header-font-weight);
	line-height: var(--header-line-height);
}
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5 {
	margin: var(--section-padding) 0 1.38rem;
}

.h1,
h1 {
	margin-top: 0;
	font-size: 3.052rem;
	font-size: 12vw;
}

.h2,
h2 {
	font-size: 2.441rem;
}

.h3,
h3 {
	font-size: 1.953rem;
}

.h4,
h4 {
	font-size: 1.563rem;
}

.h5,
h5 {
	font-size: 1.25rem;
}

.small,
small {
	font-size: 0.8rem;
}

@media (min-width: 42rem) {
	.h1,
	h1 {
		margin-top: 0;
		font-size: 4.209rem;
	}

	.h2,
	h2 {
		font-size: 3.157rem;
	}

	.h3,
	h3 {
		font-size: 2.369rem;
	}

	.h4,
	h4 {
		font-size: 1.777rem;
	}

	.h5,
	h5 {
		font-size: 1.333rem;
	}

	.small,
	small {
		font-size: 0.8rem;
	}
}

a {
	color: inherit;
}
a:not(.no-effect) {
	text-decoration: none;
	box-shadow: inset 0 calc(-1 * var(--border-width)) rgb(var(--c4)), 0 0 rgb(var(--c5)),
		0 0 rgb(var(--c3));
	transition: box-shadow var(--transition-speed-short);
}
a:not(.no-effect):hover {
	box-shadow: inset 0 calc(-1 * var(--border-width)) rgb(var(--c4)),
		0 var(--border-width) rgb(var(--c5)), 0 calc(2 * var(--border-width)) rgb(var(--c3));
}
a[target='_blank'] {
	cursor: ne-resize;
}
